@using WebSite.Mvc.Helpers
@model WebSite.ViewModels.Words.WordViewModel
@{
    var id = Model.IsNew ? 0 : Model.Id;
}

<div id="modal-dialog-blocking-throbber" class="modal-dialog-throbber-container">
  <div class="modal-dialog-throbber">
    <div>
      <div class="sk-spinner sk-spinner-wave orange">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
      </div>
    </div>
  </div>
</div>

@using (Ajax.BeginForm("Save", "Words", null, new AjaxOptions { OnSuccess = "Word.OnSaved(data,status,xhr);" }, new { @class = "form-horizontal" }))
{
    <div class="modal-header modal-header--custom">
      <button id="object-edit-close" type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      @if (Model.IsNew)
      {
          <h2 class="col-md-12 close">Создание Книги</h2>
      }
      else
      {
          <h2 class="col-md-12 close">Редактирование Книги</h2>
      }
    </div>
    <div class="modal-body">
      <div class="row">
        @Html.HiddenFor(t => t.Id)
        <div class="col-md-12 col-xs-12">
          <div class="row col-md-10">
            <table class="table modal-form-table text-center">
              <tr>
                <td class="no-borders text-right">
                  @Html.EditLabelFor(l => l.Name)
                </td>
                <td class="no-borders" colspan="2">
                  @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
                </td>
              </tr>
            </table>
          </div>
          <div class="row p-l-md m-t-md">
            <table id="wordbooksTable" class="table table-striped table-bordered modal-form-table">
              <thead>
                <tr>
                  <th class="text-center">Книги</th>
                  <th class="text-center">Страницы</th>
                  <th class="text-center">Строки</th>
                </tr>
              </thead>
              <tbody>
                @if (Model.WordBooks?.Any() ?? false)
                {
                  foreach (var wordbook in Model.WordBooks)
                  {
                        <tr>
                          <td class="text-center" rowspan="@(wordbook.Pages.Sum(p=>p.Lines?.Count() + 1) + 1)">
                            @(wordbook.Book?.Name)
                          </td>
                        </tr>
                    if (wordbook.Pages.Any())
                    {
                      foreach (var page in wordbook.Pages)
                      {
                                <tr>
                                  <td class="text-center" rowspan="@(page.Lines?.Count() + 1 ?? 1)" colspan="@(page.DateRecord.HasValue ? 2 : 1)">
                                    <div class="input-group">
                                      <div class="input-group">
                                        @(page.DateRecord.HasValue ? page.DateRecord?.ToString("D") : page.Number + " " + page.Row?.Name)
                                      </div>
                                      @if (page.DateRecord.HasValue)
                                      {
                                          <span class="input-group-btn">
                                            <a class="pull-right btn btn-sm btn-default no-borders" id="delWordBook"><i class="fa fa-minus"></i></a>
                                          </span>
                                      }
                                    </div>
                                  </td>
                                </tr>

                        if (page.Lines?.Any() ?? false)
                        {
                          foreach (var line in page.Lines)
                          {
                                        <tr>
                                          <td class="text-center">
                                            <div class="input-group">
                                              @Html.Raw(line.Up ? "<i class='fa fa-long-arrow-down' />" + line.Number : "<i class='fa fa-long-arrow-up' />" + line.Number)
                                              <span class="input-group-btn">
                                                <a class="pull-right btn btn-sm btn-default no-borders" id="delWordBook"><i class="fa fa-minus"></i></a>
                                              </span>
                                            </div>
                                          </td>
                                        </tr>
                          }
                        }
                      }
                    }
                  }
                }
                else
                {
                    <tr>
                      <td colspan="3" class="text-center">
                        Записи отсутствуют
                      </td>
                      <td class="hidden"></td>
                      <td class="hidden"></td>
                    </tr>
                }
                <tr class="no-borders">
                  <td class="no-borders">
                    @Html.DropDownListFor(d => d.SelectedWordBook.SelectedBookId, new SelectList(Model.BookList, "Id", "Name"), new { @class = "form-control" })
                    @Html.TextBoxFor(t => t.SelectedWordBook.Book, new { @class = "form-control", type = "text", placeholder="Новая книга" })
                  </td>
                  <td class="no-borders">
                    <div class="input-group">
                      <div class="input-group-btn">
                        @Html.TextBoxFor(t => t.SelectedWordBook.Number, new { @class = "form-control", type = "Number", placeholder = "Номер страницы" })
                        @Html.TextBoxFor(t => t.SelectedWordBook.DateRecord, new { @class = "form-control", type = "date", placeholder = "Дата записи" })
                      </div>
                      @Html.DropDownListFor(d => d.SelectedWordBook.SelectedRowId, new SelectList(Model.RowList, "Id", "Name"), new { @class = "form-control" })
                    </div>
                  </td>
                  <td class="no-borders">
                    <div class="input-group">
                      <span class="input-group-btn">
                        @Html.CheckBoxFor(t => t.SelectedWordBook.Up, new { @class = "control-label--custom" })
                        <label for="SelectedWordBook_Up" class="control-label--custom label-inline"></label>
                      </span>
                      @Html.TextBoxFor(t => t.SelectedWordBook.LineNumber, new { @class = "form-control", type = "Number", placeholder = "Номер строки" })
                      <span class="input-group-btn">
                        <a class="pull-right btn btn-sm btn-default no-borders" id="addWordBook"><i class="fa fa-plus"></i></a>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            @Html.ValidationMessageFor(v => v.SelectedWordBook.SelectedBookId, "", new { @class = "text-danger" })
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer no-borders">
      <div class="row no-margins">
        <div class="col-md-12">
          <button id="object-edit-close" class="btn btn-danger pull-right m-l-md" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Отмена</button>
          <button class="btn btn-primary pull-right" id="object-save" data-id="@id" type="submit"><i class="fa fa-check"></i> Сохранить</button>
        </div>
      </div>
    </div>
}
<script>
  'use strict';

  $.validator.unobtrusive.parse($('form'));

  $(document).ready(function () {
    $('.date').datepicker({
      language: 'ru',
      format: 'yyyy-mm-dd',
      todayHighlight: true,
      toggleActive: true,
      autoclose: true
    });
  });
</script>
